obj/*
base/code/cgame/obj/*
base/code/cgame/Makefile
base/code/game/obj/*
base/code/game/Makefile
base/code/ui/obj/*
base/code/ui/Makefile
code/engine/obj/*
code/engine/Legacy.make
code/engine/Legacy-dedicated.make
code/tools/legacymap/obj/*
code/tools/legacymap/Makefile
base/cgamex86_64.so
base/qagamex86_64.so
base/uix86_64.so
bin64/legacy
bin64/legacy-dedicated
bin64/legacymap2

Makefile
legacy.layout
base/video/*

/code/engine/*.vcxproj
/code/engine/*.filters
/code/engine/*.user
/code/engine/obj
/code/engine/GUI/*
/code/engine/GUI/*.vcxproj
/code/engine/GUI/*.filters
/code/engine/GUI/*.user
/code/engine/game/obj
/code/engine/game/base_game.vcxproj
/code/engine/game/base_game.vcxproj.filters
/code/engine/game/base_game.vcxproj.user
/code/engine/GUI/obj
/code/engine/GUI/base_gui.vcxproj
/code/engine/GUI/base_gui.vcxproj.filters
/code/engine/GUI/base_gui.vcxproj.user
/code/engine/cgame/obj
/code/engine/cgame/base_cgame.vcxproj
/code/engine/cgame/base_cgame.vcxproj.filters
/code/engine/cgame/base_cgame.vcxproj.user
/code/engine/cgame/obj
/code/engine/cgame/base_cgame.vcxproj
/code/engine/cgame/base_cgame.vcxproj.filters
/code/engine/cgame/base_cgame.vcxproj.user
/code/engine/cgame/*
/code/engine/cgame/*.vcxproj
/code/engine/cgame/*.filters
/code/engine/cgame/*.user
/code/tools/master/obj
/code/tools/master/master.vcxproj
/code/tools/master/master.vcxproj.filters
/code/tools/master/master.vcxproj.user
/code/tools/master/*
/code/tools/master/*.vcxproj
/code/tools/master/*.filters
/code/tools/master/*.user
/code/tools/owmap/obj
/code/tools/owmap/OWMap.vcxproj
/code/tools/owmap/OWMap.vcxproj.filters
/code/tools/owmap/OWMap.vcxproj.user
/code/tools/owmap/*
/code/tools/owmap/*.vcxproj
/code/tools/owmap/*.filters
/code/tools/owmap/*.user
/ipch
/*.opensdf
/*.sdf
/*.sln
/*.suo
/main/cgamex86_64.exp
/main/guix86.exp
/main/guix86_64.exp
/main/qagamex86.exp
/main/qagamex86_64.exp
/main/cgamex86.lib
/main/cgamex86_64.lib
/main/guix86.lib
/main/guix86_64.lib
/main/qagamex86.lib
/main/qagamex86_64.lib
/ipch
/main/*.exp
